<div class="container" id="i18_career">
    <div class="row">
        <div class="col-lg-12 text-center m-t-lg m-b-md ">
            <h1><span data-i18n="career.my_career">Slack</span></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-b-lg">
            <p>
                We welcome developers, designers and anyone else involved with the platform! Join our Slack team to chat with members of the community on topics such as app architecture, unit testing, design (UI/UX) or just get feedback on applications you may have already published.
            </p>
    </div>
    <div class="row">
        <div class="col-md-12 text-center m-b-lg">
            <p>
                <a class="btn btn-default btn-md" href="https://slofile.com/slack/gdgandroidathens" target="blank"><span class="fa fa-slack"></span> Join Slack team</a>
            </p>
        </div>
    </div>
</div>
