<div class="container" id="i18_career">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="career.my_career">Slack</span></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-md m-b-lg">
            <p>
                Developers, designers και οποιοσδήποτε ασχολείται σοβαρά με την πλατφόρμα είναι ευπρόσδεκτος! Στην ομάδα Slack μπορείτε να μιλήσετε live με άτομα του community σχετικά με διάφορα θέματα όπως αρχιτεκτονική εφαρμογών, unit testing, design (UI/UX) ή να λάβετε feedback πάνω στις εφαρμογές που έχετε σε κάποιο store.
            </p>
    </div>
    <div class="row">
        <div class="col-md-12 text-center m-b-lg">
            <p>
                <a class="btn btn-default btn-md" href="https://slofile.com/slack/gdgandroidathens"><span class="fa fa-slack"></span> Join us on Slack</a>
            </p>
        </div>
    </div>
</div>
